{% extends "network/layout.html" %} {% block body %}
<div class="container">
  <h2>ALL POSTS</h2>
  {% if user.is_authenticated %}
  <form
    action="{% url 'compose' %}"
    method="post"
    id="compose-form"
    class="d-flex flex-column p-3"
  >
    {% csrf_token %}
    <div class="form-group d-flex flex-column">
      <label for="compose-body">NEW POST</label>
      <textarea
        name="compose-body"
        id="compose-body"
        cols="30"
        rows="3"
        class="p-2"
      >
      </textarea>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="POST" />
    </div>
  </form>
  {% endif %}

  <div id="all-posts">
    <div class="card mb-2 p-3">
      <h3>AUTHOR</h3>
      <p><i class="lh-1"></i>POST BODY</p>
      <p class="text-secondary lh-1 small">POST-TIMESTAMP</p>
      <p class="text-secondary lh-1 small">Likes: XX (TODO)</p>
    </div>
  </div>
</div>
{% endblock %}
